*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.container{
	padding: 20px;
}
h1{
	margin: 40px;
	text-align: center;
}
.row{
	float:left;
}
.col-md-1, .col-md-2, .col-md-3{
	width:31%;
	height: 128px;
	margin:10px;
	float:left;
	overflow:hidden;
	letter-spacing: 1px;
    word-spacing: 4px;
	padding:0px 0px 10px 15px;
	border: 1px solid black;
}
.col-md-1{background-color:#b9e4f5;}
.col-md-2{background-color:#e9977d;}
.col-md-3{background-color:#d9c08c;}
h3{
	color:#fff;
	float:right;
	padding:3px 24px;
	margin-bottom: 5px;
	font-size: 17px;
    font-weight: bold;
    border: 1px solid black;
    background-color:#000;
}
.text{
	width: 100%;
    float: left;
}

@media (min-width: 768px) and (max-width: 991px){
.col-md-1,.col-md-2{width:47%;}
.col-md-3{width:96%;}
}

@media (max-width:767px){
.col-md-1,.col-md-2,.col-md-3{width:98%;}
}